.uploadContainer {
    width: 300px;
    bottom: 25px;
    right: 25px;
    position: fixed;
    border-radius: 3px;
    border: 1px solid #ccc;
    .title {
        // width: 200px;
        display: flex;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        padding: 20px 0;
        background-color: #323232;
        border: transparent;
        align-items: flex-start;
        span {
            margin-left: 20px;
            text-align: left;
            color: white;
        }
    }
    .files {
        // height: 100px;
        box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
        .uploadFile {
            margin-left: 20px;
            padding: 15px 0;
            text-align: left;
        }
    }
}